.header{
    height:350px;
}
.section1{
    text-align: center;
    margin-top:1.5em;
    padding:4em 0 0 0;
    overflow: hidden;
}
.section1 h2{
    color: #f1c40f;
    font-weight: normal;
    text-align:center;
}
.section1 .sec1,.section1 .sec2,.section1 .sec3,.section1 .sec4{
    width: 23%;
    float: left;
    margin: 50px 1%;
}

.section1 h4{
    margin:1em 0;
    font-weight:normal;
    font-size: 1.2em;
}
.section1 p{
    line-height: 1.5em;
    color:#999;
}
.section1>div:hover img{
    transform: scale(1.15);
}
.section1 img{
    transition:.3s all ease-in-out;
}
.section2{
    line-height: 2em;
}
.section2 .sec1,.section2 .sec2,.section2 .sec3,.section2 .sec4{
    width: 495px;
    display: inline-block;
}
.section2 h2{
    text-align: center;
    color:#f1c40f;
    font-weight: normal;
    margin-bottom:2em;
}
.section2 img{
    width: 210px;
}
.section2 h3{
    font-weight: normal;
    margin-bottom: .5em;
}
.section2 .sec1>div,.section2 .sec2>div,.section2 .sec3>div,.section2 .sec4>div{
    width: 240px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 3em;
}
.section2 p{
    color:#999;
}